
.title{
    display: inline-block;
    font-family: 'Aldrich', sans-serif;
    font-size: 32px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    color: var(--dark-white);
    font-weight: 900;
    letter-spacing: 3px;
}

.statsContainer{
    display: flex;
    background-color:var(--darker-black);
    width: 100%;
    max-height: 50vh;
    border-radius: 8px;
    margin-top: 2rem;
    flex-flow: row nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.statsContainer::-webkit-scrollbar{    
    display: none;
}

