@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

.container{
    position: relative;
    padding: 3.5rem;
    padding-bottom: 4.5rem;
    
    
}
.signature{
    font-family: 'Tangerine', cursive;
    position: absolute;
    font-size: 34px;
    right: 5%;
    bottom: 5%;
    color: var(--dark-white);
}
.title{
    display: inline-block;
    font-family: 'Aldrich', sans-serif;
    font-size: 32px;
    margin-bottom: 3rem;
    margin-right: 1rem;
    color: var(--dark-white);
    font-weight: 900;
    letter-spacing: 3px;
}
.subtitle{
    color: var(--darker-white);
    font-family: 'Aldrich', sans-serif;
    font-size: 26px;
    margin-bottom: 2rem;
}
.text{
    color: var(--light-white);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px !important;
    word-spacing: 2px;
    letter-spacing: 2px;
    margin-bottom: 1rem;
    text-align: justify;
}

.shareButton{
    
    display: inline-flex;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 18px;
    color: var(--darker-white);
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--light-violet);
    border-radius: 16px;
    padding: .2em .5em;
    cursor: pointer;
    box-shadow: 
        3px 3px 3px rgba(0,0,0,.8);
}

.shareButton:active{
    box-shadow: 
        inset 3px 3px 6px rgba(0,0,0,.8);
}
.shareButtonText{
    font-size: 18px;
    margin-right: .5em;
    color: var(--light-white);
}

.shareButton:hover{
    cursor: pointer;
}
.shareIcon{
    color: var(--light-violet);
}