@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.local-env{
    --pi: 3.14159265358979;
    --stroke-width:10px;
}

.container{
    display: grid;
    height: 100%;
    width: 70%;
    padding-left: 2rem ;
    grid-template-rows: 1fr;
    grid-template-columns: 70% 1fr;
    padding: 0 3rem;
}

.mainGraph{
    grid-row: 1 / 2;
    grid-column: 1/2;
    height: 100%;
    width: 90%;
    position: relative;
    padding: 1rem;
}
.progressContainer{
    height: 100%;
    width: 100%;
    transform: rotate(123.5deg);
}
.circle{
    fill: none;
    stroke: var(--dark-violet);
    stroke-linecap: round;
}
.progressIndicator{
    fill: none;
    stroke-linecap: round;
    animation: animate .5s linear forwards; /*forwards para que quede en el ultimo estado de la animacion */
}
@keyframes animate {to {stroke-dashoffset: 0}}

.innerContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 50%;
    transform: translate(-50%,-50%);
}
.Icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    color : var(--dark-white);
}

.svg[id="csharp"]{
    color: red
}
.progressValue{
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    color: var(--light-white);
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
}

.secondaryGraphs{
    grid-row: 1/-1;
    grid-column: 2/3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content:center;
    justify-content: space-around;
}

.medalContainer{
    position: relative;
    height: 2em;
    width: 2em;
    margin: 0 auto;
    z-index: 0;
    font-size: 72px;
    cursor: pointer;
}

.medalContainer::after{
    content: 'Certificates';
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    font-weight: 900;
    text-align: center;
    transform: translateY(-50%);
    z-index: 10;
    transition: opacity .3s;
}
.medalContainer:hover::after{
    opacity: 1;
}
.medalContainer:hover .medalCircle{
    filter: blur(5px);
}


.medal{
    position: absolute;
    padding: .5rem;
    border-radius: 50%;
    background-color: #fac729;
    height: 100%;
    width: 100%;
    z-index: 10;
    overflow: hidden;
}


.medal::before{
    content:'';
    height: 200%;
    width: 100%;
    top: -100%;
    left: -100%;
    position: absolute;
    transform: rotate(15deg) translate(-10%,-10%);
    background-color: whitesmoke;
    opacity: .5;
    z-index: 10;
    animation: shine .25s linear .5s forwards;
}

.medal::after{
    content:'';
    height: 200%;
    width: 20%;
    top: -100%;
    left: -100%;
    position: absolute;
    transform: rotate(15deg) translate(-10%,-10%);
    background-color: whitesmoke;
    opacity: .5;
    z-index: 10;
    animation: shine .25s linear .7s forwards;
}
@keyframes shine {
    to{
        top: 0;
        left: 100%;
    }
}

.ribon{
    position: absolute;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    width: 30%;
    height: 100%;
    z-index:-1;
}
.ribon:nth-child(2){
    transform: rotate(150deg);
    top: 25%;
    left: 42%;
    background-color: #f31904;
}
.ribon:nth-child(3){
    transform: rotate(-150deg);
    top: 25%;
    left: 37%;
    background-color: #fc402e;
}
.medalCircle{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #df7e08;
    border-radius: 50%;
    overflow: hidden;
    filter: none;
    transition: filter .5s;
}


.medalCircle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: skew(-45deg);
    background-color: #c67108;
    
}
.certificateAmount{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-white);
}


.projects{
    position: relative;
    margin: 0 auto;
    font-size: 72px;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    overflow: hidden;
    background-color:var(--dark-black);
    padding: .5rem;
    z-index: 0;
    cursor: pointer;
    filter: none;
    transition: filter .5s;
}
.projectsLegend{
    opacity: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: black;
    position: absolute;
    top: 50%;
    width: 100%;
    font-weight: 900;
    text-align: center;
    transform: translate(-.5rem, -50%); /*para solventar el padding del padre*/
    z-index: 10;
    transition: opacity .3s;
}
.projects:hover>.projectsLegend{
    opacity: 1;
}
.projects:hover>.projectsCircle{
    filter: blur(5px)
}

.projects::after{
    content:'';
    height: 200%;
    width: 20%;
    top: -100%;
    left: -100%;
    position: absolute;
    transform: rotate(15deg) translate(-10%,-10%);
    background-color: whitesmoke;
    opacity: .5;
    z-index: 10;
    animation: shine .25s linear .7s forwards;
}
.projects::before{
    content:'';
    height: 200%;
    width: 100%;
    top: -100%;
    left: -100%;
    position: absolute;
    transform: rotate(15deg) translate(-10%,-10%);
    background-color: whitesmoke;
    opacity: .5;
    z-index: 10;
    animation: shine .25s linear .5s forwards;
}

.projectsCircle{
    position: relative;
    background-color: var(--lighter-black);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.projectsCircle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: skew(-45deg);
    background-color: var(--light-black);
}
.projectsAmount{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
    color: var(--dark-white);
}

.info{
    grid-row: 2/3;
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    padding: 1rem;
}
.infoItem{

    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    color: var(--dark-white);
    font-family: 'Roboto', sans-serif;
}
.infoTitle{
    display: inline-block;

}
.infoIcon{
    font-size: 24px;
    margin-right: .4em;
}