@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.container {
	height: 100%;
	width: 50%;
	overflow: hidden;
}
.devtoolList{

}
.devtoolItem{

}
.devtoolInfo{
    
}
.devtoolIcon{

}
.devToolDescription{

}
.devtoolProgress{

}